@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
  margin: 0;
  padding: 0;
  background: rgb(30, 30, 50);
}

body * {
  font-family: "Baloo 2", cursive;
  color: white;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.scene {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(30, 30, 50);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, aquamarine 30%, darkblue);
  border-radius: 10px;
}
