.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center center !important;
  background-size: cover !important;
  border: 2px solid aquamarine;
}

.user {
  width: 100%;
  justify-content: flex-start;
  color: white;
  padding: 5px;
  transition: 0.3s all;
  cursor: pointer;
  height: 100%;
}

.user h3,
.user span {
  margin: 5px;
}

.user:hover {
  box-shadow: inset 15px 0 15px -15px aquamarine;
}
